* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #9dbdff;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app h1 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: oblique;
}
#app .form {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  display: block;
}
#app .form label {
  width: 200px;
  margin: 0 auto;
  padding-left: 30px;
  display: block;
  margin-top: 10px;
}
#app .form input {
  margin: 0 auto;
  display: block;
  background-color: white;
  border: solid #000 2px;
}
#app .form #submit {
  margin-top: 20px;
  width: 100px;
  border-radius: 10px;
  background-color: #7695ff;
}

button {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #7695ff;
  display: block;
  margin-bottom: 15px;
  border: solid #000 2px;
}

#InfoList {
  padding-left: 20px;
}

p {
  margin-top: 15px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}